*{
  box-sizing: border-box;
  margin: 0;
}

.grid {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
}

.casilla {
  border: black thin solid;
  border-radius: 70px;
  float: left;
  padding: 65px
}

.muestras {
    float: right;
}

.rojo {
  width: 140px;
  height: 150px;
  border-radius: 70px;
  background-color: red;
  border: black thin solid;
}

.azul {
  width: 140px;
  height: 150px;
  border-radius: 70px;
  background-color: blue;
  border: black thin solid;
}

.ficha {
  border: black thin solid;
  width: 140px;
  height: 150px;
  border-radius: 70px;
  background-color: red;
    animation-direction: normal;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes example {
  0%   {background-color:red; top:0px;}
  100% {background-color:red;  top:755px;}
}
